main {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    flex-direction: column;
}

.page1 {
    grid-column: span 11;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(11, 1fr);
    .page1top .page1bottom {
        grid-column: span 11;
    }
}



.page1bottom__image {
    width: 20vw;
    height: auto;
}

