@import "./menu";

body {background-color: #fff236;}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7vh;
    background-color: black;
    color: white;
    z-index: 10;
    h1 {
        margin: 0;
    }
    font-family: 'jockey one';
    text-transform: uppercase;
    letter-spacing: 5px;
}

.page1 {
    display: flex;
    flex-direction: column;   
}


.page1top__title {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: black;
    height: 30vh;
    text-transform: uppercase;
    font-family: 'jockey one', sans-serif;   
}


.page1top__tahini {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    color: #00ff38;
    z-index: 3;
}

.page1top__chickpeas {
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    left: 42%;
    transform: translateX(-50%);
    color: #fff236;
    font-size: 2rem;
    z-index: 1;
}

.page1top__drizzle {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    right: 17%;
    transform: translateX(-50%);
    color: #aa75ff;
    font-size: 2rem;
}

.page1top__text {
    color: #00ff38;
    font-family: 'jockey one';
    background-color: black;
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;
   
}

.page1bottom {
    position: relative;
}

.page1bottom__text {
    position: relative;
    color: #aa75ff;
    background-color: white;
    font-family: 'jockey one';
    width: 100%;
    height: auto;
    padding: 20px;   
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.page1bottom__image {
    margin-bottom: 16px;
    width: 100vw;
}

.page1bottom__menu {
    position: absolute;
    display: flex;
    justify-content: end;
    flex-direction: wrap;
    width: 20vw;
}

.page1bottom_arrow {
    position: absolute;
    bottom: 240px;
    left: 20px;
    display: block;
    justify-content: left;
    rotate: 90deg;
    width: 10vw;
    height: auto;
}


img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}


.page3 {
    background-color: #00ff38;
}