











/*
.page1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 2 / 1fr;
    height: 100vh;
}

.page2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    height: 100vh;
}

.page3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100vh;
}
*/
